[MASTER]
ignore=node_modules,.git,dist,build,.conxius_orbit,logs,target,__pycache__

[MESSAGES CONTROL]
disable=duplicate-code,too-many-nested-blocks,too-many-positional-arguments,ungrouped-imports,global-statement,missing-module-docstring,missing-function-docstring,missing-class-docstring,line-too-long,too-many-lines,too-many-instance-attributes,too-many-arguments,f-string-without-interpolation,broad-exception-caught,no-else-return,too-many-branches,too-many-return-statements,attribute-defined-outside-init,import-outside-toplevel,consider-using-sys-exit,wrong-import-order,unused-import,unspecified-encoding,consider-using-with,too-many-locals,unused-variable,redefined-outer-name,invalid-name,bare-except,subprocess-run-check,too-few-public-methods,too-many-statements,broad-exception-raised,reimported,unused-argument,protected-access,wrong-import-position,too-many-public-methods,logging-fstring-interpolation,inconsistent-return-statements,redefined-builtin,unnecessary-comprehension
